/* police d'écriture */

@font-face {
    font-family: 'raleway';
    src: url('Raleway-Regular.ttf');
}
html
{
    font-family: 'raleway', Arial, Helvetica, sans-serif
} 

/* Menu navigation */

nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
nav img
{
    display: flex;
    height: 60px;
    width: auto;
    margin: 20px;
}
nav ul 
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #0065fc;
}

nav a
{   
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #696969;
    padding: 18px;
}

nav a:hover
{
    color: #0065fc;
    border-top: #0065fc;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-style: solid;
    padding: 15px;
}

/* titre */

#titre
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: -2px;
}
#titre h1
{
    font-size: 20px;
    color: black;
    margin-bottom: -9px;
    
}

#titre p
{
    font-size: 14px;
    color: #696969;
}

/* bouton recherche */

#recherche
{
    margin: 20px;
    display: flex;
    margin-top: -20px;
}

#recherche i
{
    color: black;
    background-color: #f2f2f2;
    padding: 9px;
    padding-right: 12px;
    padding-left: 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

#recherche input
{
    padding: 9px;
    border: #f2f2f2;
    border-style: solid;
    border-width: 1px;
}

#recherche button
{
    background-color: #0065fc ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 9px;
    color: white;
}

/* filtres */

#filtres
{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
}  

#filtres h2
{
    font-size: 17px;
}

#filtres ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#filtres li
{
    margin-left: 35px;
}

#filtres i
{
    color: #0065fc;
    margin-right: 10px;
    background: #deebff;
    border-radius: 100%;
    padding: 12px;
}

#filtres a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    border: #f2f2f2;
    border-style: solid;
    border-radius: 30px;   
    padding: 8px;
}
#filtres a:hover
{
    color: #0065fc;
    background-color: #deebff;  
}




/* info */

#info
{
    margin-left: 20px;
    font-size: 14px;
    color: #696969;
}

#info i
{
    border: #f2f2f2;
    border-style: solid;
    border-radius: 100%;
    border-width: 2px;
    color: white;
    background-color: #0065fc;
}

/* sections */

#starbleu
{
    color: #0065fc;
    border-style: none;
   
}
#stargray
{
    color: #f2f2f2;
    border-style: none;
}

/* hébergement */

#hébergement
{
    background-color: #f2f2f2;
    margin-left: 20px;
    border-radius: 20px;   
    margin-right: 1040px;
    
}

#carte
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
}

#hébergement h2
{
   
}

#hébergement a
{
    text-decoration: none;
}

#hébergement article
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width:200px;
    height: 180px;
    font-size: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

#hébergement img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:200px;
    height: 110px;
}

#hébergement h3
{
font-size: 12px;
font-weight: bold;
}

/* footer */

#footer
{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 15px;
}

#footer ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

#footer li
{
    font-size: 15px;
    line-height: 25px;
}

#footer h2
{
    font-size: 15px;
}