/* General */
html{
    font-family: 'raleway', Arial, Helvetica, sans-serif
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.colorbluereservia{
    color: #0065fc;
}
.colorlightbluereservia{
    color: #deebff;
}
.colorgrayreservia{
    color: #f2f2f2;
}
/* Header */
.header{
    box-sizing: border-box;
    width: 100%;
    padding: 50px 50px 0 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__img{
    width: 120px;
    height: 50px;
    margin-right: auto;
    
}
.header__nav__link{
    margin-right: 50px;
    padding: 67px 10px 0 10px;
}
.header__nav__signup{
    margin-left: 10px;
}
.borderlink:hover{
    border-top: solid #0065fc 1px;
    color: #0065fc;
}
   
    