/* minireset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/* normalize */
a{text-decoration: none;color: black;font-size:  0.9375em;}h1{font-size: 1.38em;font-weight: bold;} h2{font-size: 1.25em;font-weight: bold;}h3{font-size: 0.9375em;font-weight: bold;} p{font-size:  0.97em;}i{font-size: 0.9375em;}li{font-size: 0.9375em;}input{font-size: 0.9375em;font-weight: bold;}img{object-fit: cover;}
/* font */
html{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}
/* Header */
header{
    padding: 0 50px 0 50px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
    align-items: center;
    max-width: 1440px;
    margin: auto;
}
header img{
    grid-area: logo;
    height: 50px;
    width: auto;
    padding: 3px; 
}
header nav{
    display: flex;
    align-items: center;
    grid-area: navbar; 
}
.link{
    padding: 32px;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.signup{
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 32px;
    color: #0065fc;
    font-weight: bold;
}
.link:hover{
    border-top: 3px #0065fc solid;
    color: #0065fc;
}
/* Main */
main{
    padding: 15px 50px 50px 50px;
    margin: auto;
    max-width: 1440px;
}
/* Search */
.search{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
} 
.search h1{
    margin: 0 0 15px 0;
}
.search p{
    margin: 0 0 20px 0;
}
.search div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search_icone{
    color: black;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 18px 19px 17px 19px;
}
.search input{
    height: 50px;
    width: 230px;
    border: solid #f2f2f2 1px;
    padding-left: 20px;
}
.button{
    height: 50px;
    width: 130px;
    border-radius: 0 15px 15px 0;
    border: solid #0065fc 1px;
    background: #0065fc;
    color: white;
    font-size: 18px;
}
.button_mobile{
    display: none;
}
/*Filter*/
.filter{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.filter h2{
    margin: 0 30px 20px 0;
}
.filter_list{
    display: flex;
    flex-wrap: wrap;
}
.filter_list li{
    border: solid #f2f2f2 3px;
    border-radius: 60px;
    margin: 0 10px 25px 0;
    color: black;
    font-weight: bold;  
}
.filter_list li a{
    margin-right: 15px;
}
.filter_list li a i{
    padding: 18px 18px 18px 18px;
    margin: -3px 0 -3px -3px;
    background: #deebff;
    border-radius: 100%;
    color: #0065fc;
    margin-right: 20px;
}
#button_icon_familial{
    padding: 18px 20px 18px 20px;
    margin: -3px 0 -3px -3px;
    background: #deebff;
    border-radius: 100%;
    color: #0065fc;
    margin-right: 20px;
}
.filter_list li:hover{
    background: #deebff;
    border: solid #deebff 3px;
}
/*Info*/
.info{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.info i{
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    color: #0065fc;
    background: white;
    border-radius: 100%;
    border: solid #f2f2f2 1px;
}
/*article*/
.marseille{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.starbleu{
    color: #0065fc;
}
.stargray{
    color: #d9d9d9;
}
/*accomodation*/
.accomodation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65.5%;
    background: #f2f2f2;
    border-radius: 20px;   
}
.accomodation div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px 0 40px;
}
.accomodation h2{
    width: 100%;
    margin: 0 0 20px 0;
}
.accomodation a{
    background: white;
    border-radius: 20px;
    width: 30.5%;
    height: 200px;
    border: solid 5px white;
    margin: 0 0 30px 0;
    box-shadow: 5px 5px 5px 1px #d9d9d9;
}
.accomodation img{
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0 0;
}
.accomodation h3, .accomodation p, .accomodation aside{
    margin: 5px 0 5px 10px;
}
.show_more{
    width: 100%;
    margin: 10px 0 0 0;
}
/*popular*/
.popular{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    background: #f2f2f2;
    border-radius: 20px;
}
.popular_bloc{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 40px 0 40px;
}
.popular_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
}
.popular_title i{
    font-size: 1.25rem;
}
.popular a{
    width: 100%;
    height: 145px;
    display: flex;
    background: white;
    border-radius: 20px;
    border: solid 5px white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 1px #d9d9d9;
}
.popular img{
    width: 38%;
    height: auto;
    border-radius: 20px 0 0 20px;
}
.popular_comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0 10px 20px;
    width: 62%;
}
.popular_comment h3{
    margin-bottom: 15px;
}
/*activity*/
.activity{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.activity h2{
    width: 100%;
    margin-bottom: 25px;
}
.activity_section{
    width: 23%;
    height: 450px;
}
.activity_duo_bloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.activity_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #d9d9d9;
}
.activity_card h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    width: 95%;
    margin-left: 5%;
} 
.activity_card img{
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card_vieux-port{
    height: 450px;
}
.card_vieux-port img{
    height: 390px;
}
.card_fort-pomegues{
    height: 240px;
}
.card_fort-pomegues img{
    height: 185px;
}
.card_iles-frioul{
    height: 165px;
}
.card_iles-frioul img{
    height: 105px;
}
.card_parc-national{
    height: 450px;
}
.card_parc-national img{
    height: 390px;
}
.card_notre-dame{
    height: 195px;
}
.card_notre-dame img{
    height: 140px;
}
.card_parc-longchamp{
    height: 210px;
}
.card_parc-longchamp img{
    height: 150px;
}
/*footer*/
footer{
    background: #f2f2f2;
    height: 220px;
}
footer div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 50px 50px;
    max-width: 1440px;
    margin: auto;
}
footer div section{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 33.33%;
}
.footer_list{
    display: flex;
    flex-direction: column;
}
.footer_list li{
    padding-top: 20px;
}
@media all and (max-width: 1100px){
    /* accomodation */
    .accomodation{
        order: 2;
        width: 100%;
    }
    .accomodation div{
        margin: 50px 40px 50px 40px;
    }
    .accomodation a{
        width: 48.5%;
        height: 275px;
    }
    .accomodation a img{
        height: 190px;
    }
    /* popular */
    .popular{
        order: 1;
        width: 100%;
        margin-bottom: 50px;
    }
    .popular_bloc{
        justify-content: space-between;
        width: 100%;
    }
    .popular a{
        width: 48.5%;
        height: 275px;
        flex-direction: column;
        justify-content: space-around;
    }
    .popular img{
        height: 190px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .popular_comment{
        margin: 5px 0 0 10px;
        width: 96%;
    }
    .popular_comment h3{
        margin:0 0 5px 0;
    }
    .popular_comment p{
        margin:0 0 5px 0;
    }
    .popular_comment aside{
        margin:0 0 5px 0;
    }
    /* activity */
    .activity{
        order: 3;
    }
    .activity_section{
        width: 48.5%;
    }
    .bloc1{
        order: 1;
        height: 275px;
        margin-bottom: 30px;
    }
    .bloc2{
        order: 3;
        height: 580px;
    }
    .bloc3{
        order: 2;
        height: 275px;
        margin-bottom: 30px;
    }
    .bloc4{
        order: 4;
        height: 580px;
    }
    .activity_card{
        height: 275px;
        width: 100%;
        flex-wrap: wrap;
    }
    .activity_card img{
        height: 220px;
    }
}
@media all and (max-width: 620px){
    /* Hearder */
    header{
        margin: 0;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
        padding: 0;
    }
    header img{
        order: 0;
        padding-left: 20px;
    }
    header nav{
        order: 2;
    }
    .link{
        border-top: none;
        border-bottom: solid #F2F2F2 3px;
        width: 50%;
        padding: 15px;
    }
    .signup{
        order: 1;
        padding-right: 20px;
    }
    .link:hover{
        border-top: none;
        border-bottom-color: #0065fc;
    }
}
@media all and (max-width: 550px){
    /* Main */
    main{
        padding: 35px 0 50px 0;
    }
    /* search */
    .search{
        margin: 0 20px 35px 20px;
    }
    .search input{
        width: 245px;
    }
    .button{
        display: none;
    }
    .button_mobile{
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 15px;
        border: solid #0065fc 1px;
        background: #0065fc;
        color: white;
        font-size: 18px;
        margin-left: -10px;
    }
    /* filter */
    .filter{
        margin: 0 20px 30px 20px;
    }
    /* info */
    .info{
        margin: 0 20px 0 20px;
    }
    /* accomodation */
    .accomodation{
        background: none;
        border-radius: 0;
        margin: 0 20px 0 20px;
    }
    .accomodation div{
        flex-direction: column;
        padding: 0;
        margin: 50px 0 0 0;
    }
    .accomodation a{
        width: 100%;
        margin: 0 0 10px 0;
        height: 200px;
    }
    .accomodation a img{
        height: 115px;
    }
    .show_more{
        padding-top: 25px;
    }
    /* popular */
    .popular{
        border-radius: 0;
        margin: 0;
    }
    .popular_bloc{
        flex-direction: column;
        margin: 40px 20px 0 20px;
        width: 100%;
    }
    .popular a{
        width: 100%;
        height: 145px;
        flex-direction: row;
        justify-content: stretch;
    }
    .popular a img{
        width: 40%;
        height: auto;
        border-radius: 20px 0 0 20px;
    }
    /* activity */
    .activity{
        flex-direction: column;
        width: 100%;
        margin: 50px 20px 0 20px;
    }
    .activity_section{
        width: 100%;
    }
    .activity_card img{
        height: 135px;
    }
    .activity_card{
        height: 190px;
        width: 100%;
    }
    .bloc1{
        order: 1;
        height: 190px;
        margin-bottom: 20px;
    }
    .bloc2{
        order: 2;
        height: 400px;
        margin-bottom: 20px;
    }
    .bloc3{
        order: 3;
        height: 190px;
        margin-bottom: 20px;
    }
    .bloc4{
        order: 4;
        height: 400px;
    }
    /* footer */
    footer{
        height: 485px;
    }
    footer div{
        flex-direction: column;
        justify-content: space-between;
        padding-top: 40px;
    }
    footer div section{
        justify-content: flex-end;
        width: 100%;
        height: 128px;
    }
    .footer_list li{
        padding-top: 15px;
    }
}